{% extends 'xsite/cart.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/book.css'%}">

<div class="realvjy">
  </div>
  <div class="book-wrapper">
    {% for product in products %}
    <a href="{% url 'book_view' product.id %}">
      <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="{{ product.pimageURL }}" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: whitesmoke;border-style: none;">{{ product.name }}</p>
    {% endfor %}
  </div>
{% endblock content %}