{% extends 'xsite/cart.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/book.css'%}">

<form method="get" action="{% url 'get_queryset' %}">
  <select name="category">
    <option value="">Tüm Kategoriler</option>
    {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <button type="submit">Filtrele</button>
</form>

{% for category in categories %}
  <h2>{{ category.name }}</h2>
  <ul>
      {% for product in category.products.all %}
          <li>
              <a href="{% url 'product-detail' product.id %}">{{ product.name }}</a>
          </li>
      {% endfor %}
  </ul>
{% endfor %}


<div class="book-wrapper">
  {% if products %}
    {% for product in products %}
    <a href="{% url 'book_view' product.id %}">
      <div class="book-items">
        <div class="main-book-wrap" style="height: 400px;">
          <div class="book-cover" style="height: 400px;">
            <div class="book-inside"></div>
            <div class="book-image">
              <img style="height: 400px;" src="{{ product.pimageURL }}" />
              <div class="effect"></div>
              <div class="light"></div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <p class="product-name" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: whitesmoke; border-style: none;">
      {{ product.name }}
    </p>
    {% endfor %}
  {% else %}
    <p style="color: whitesmoke; font-size: 18px;">Henüz ürün satın almadınız.</p>
  {% endif %}
</div>

{% endblock %}
