{% extends 'xsite/cart.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ product.name }} - Flipbook</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <style>
            body {
                background-color: #141414;
            }
            #flipbook .page {
                background: white;
            }
            #flipbook .shadow {
                box-shadow: 0 4px 10px #666;
            }
        </style>
    </head>
    <body>
        <div id="flipbook">
            {% for image in images %}
            <div>
                <img src="{{ image.image.url }}" alt="{{ product.name }}" style="height: 600px; width: 450px;">
            </div>
            {% endfor %}
        </div>
        
        <script type="text/javascript">
            $('#flipbook').turn({
                width: 900,
                height: 600,
                page: 1,
                autoCenter: true
            });
        </script>
    </body>
</html>
{% endblock %}
