<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <div style="padding-bottom: 20px ;">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark text-white" style="border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <div class="container-fluid" style="height: 55px;">
            <a class="navbar-brand" href="#" style="font-size: 26px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><img style="width: 110px;" src="{% static 'img/logo.png'%}" alt="First slide"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" style="color: whitesmoke;opacity: 0.5;" aria-current="page" href="{% url 'home' %}"><i class="bi bi-house" style="font-size:18px;"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: whitesmoke;opacity: 0.5;" href="{% url 'checkout' %}"><i class="bi bi-archive" style="font-size:18px;"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: whitesmoke;opacity: 0.5;" href="{% url 'information' %}"><i class="bi bi-envelope" style="font-size:18px;"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: whitesmoke;opacity: 0.5;" href="{% url 'bag' %}"><i class="bi bi-collection" style="font-size:18px;"></i></a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" style="color: whitesmoke;opacity: 0.5;" href="#"><i class="bi bi-bag" style="font-size:18px;"></i></a>
                </li>
              </ul>
            </div>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
              
            <div class="dropdown" style="margin-right: 25px;">
              <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/d1.jpg' %}" alt="mdo" width="32" height="32" class="rounded-circle me-2">
                <h6 style="color: whitesmoke; margin-bottom: 0;">{{ user.username }}</h6>
                <i class="bi bi-chevron-down text-white ms-2"></i>  <!-- Icona beyaz renk ekledik -->
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>                                   
          </div>
        </nav>
      </div>

<div class="container">
    {% block content %}

    {% endblock content %}
</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-body-dark text-muted-tertiary" style="color: #ffffff;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
            <i class="bi bi-twitter-x"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="bi bi-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="bi bi-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">LOGO</h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="bi bi-geo-alt-fill"></i> New York, NY 10012, US</p>
            <p>
                <i class="bi bi-envelope-fill"></i>
              info@example.com
            </p>
            <p><i class="bi bi-telephone-fill"></i> + 01 234 567 88</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->
</body>
</html>