{% extends 'xsite/cart.html' %}
{% load static %}
{% block content %}


    <link rel="stylesheet" href="{% static 'css/main.css'%}">
	{% if Products %}
    <div class="row">
		{% for product in Products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; "><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
		{% else %}
		<p style="color: aliceblue;">Not found.</p>
		{% endif %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; "><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		<div class="col-lg-4">
		<img class="thumbnail" src="{{product.imageURL}}">
		<div class="box-element product">
			<h6><strong>{{product.name}}</strong></h6>
			<hr>

			<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-success" href="#">View</a>
			<h4 style="display: inline-block; "><strong>${{product.price}}</strong></h4>

		</div>
	</div>
	</div>
{% endblock content %}