{% extends 'xsite/cart.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css'%}">
<link rel="stylesheet" href="{% static 'css/card.css'%}">


        <div>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 520px;width: 100%;">
            <div class="carousel-inner" style="height: 500px;width: 100%;">
              <div class="carousel-item active" style="height: 500px;width: 350px;">
                <img class="d-block w-100" style="height: 500px;width: 350px;" src="{% static 'img/d1.jpg'%}" alt="First slide">
              </div>
              <div class="carousel-item" style="height: 500px;width: 350px;">
                <img class="d-block w-100" style="height: 500px;width: 350px;" src="{% static 'img/d2.jpg'%}" alt="Second slide">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              
            </a>
          </div>
        </div>
        <div>
          <ul>
            <li>
              <div class="card bg-dark text-white" style="width:250px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                <div class="img-container">
                  <img class="card-img-top" style="height: 340px;width: 250px;border-radius: 8px;" src="{% static 'img/d1.jpg'%}" alt="Card image">
                  <p class="overlay disabled">aciklama</p>
              </div>
                <div class="card-body">
                  <h5 class="card-title">batman1</h5>
                  <div class="price-and-button">
                    <p class="card-text">Fiyat</p>
                    <button class="css-scan-edited-element-0" style="height: 30px; width: 135px;"><i style="margin-right: 5px;" class="bi bi-bag"></i>sepete ekle</button>
                </div>
                </div>
              </div>
            </li>
            <br>
            <li>
              <div class="card bg-dark text-white" style="width:250px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                <div class="img-container">
                  <img class="card-img-top" style="height: 340px;width: 250px;border-radius: 8px;" src="{% static 'img/d2.jpg'%}" alt="Card image">
                  <p class="overlay disabled">aciklama</p>
              </div>
                <div class="card-body">
                  <h5 class="card-title">batman2</h5>
                  <div class="price-and-button">
                    <p class="card-text">Fiyat</p>
                    <button class="css-scan-edited-element-0" style="height: 30px; width: 135px;"><i style="margin-right: 5px;" class="bi bi-bag"></i>sepete ekle</button>
                </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        {% endblock content %}
</body>
</html>
