{% extends 'xsite/cart.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css'%}">
<link rel="stylesheet" href="{% static 'css/card.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css'%}">
<script src="{% static 'js/slider.js' %}"></script>

<div>
  <figure>
    <picture>
      <img src="{% static 'img/image.jpg'%}" style="height: 500px;" alt="The Ramp game promotional image">
    </picture>
    <figcaption>
      <img src="{% static 'img/image.jpg'%}" aria-hidden="true">
      <section class="adaptive-glass">
        <h3>THE BATMAN is OUT NOW!</h3>
        <date>Tue, August 3, 2021 9:05 AM PDT</date>
      </section>
    </figcaption>
  </figure>
</div>
  
<div style="display: flex; align-items: center;">
  <div class="card" id="hulk">
    <div class="card-image">
      <img src="https://res.cloudinary.com/dsgvp2wmj/image/upload/v1636769866/466-4665707_hulk-png-avengers-earths-mightiest-heroes-hulk-transparent-removebg-preview_hxdclj.png"/>
    </div>
    <div class="card-text">
      <h2>MARVEL</h2>
      <p>COMICS<br>GROUP</p>
      <div>
      <div>
        <span>15</span>
        <span>&cent;</span>

        </div>
      <div><span>27</span><span>May</span></div>
    </div>
      </div>
  </div>
  <div class="card" id="spiderman">
    <div class="card-image">
      <img src="https://pngimg.com/uploads/spider_man/spider_man_PNG59.png"/>
    </div>
    <div class="card-text">
      <h2>MARVEL</h2>

      <div>
      <div>
        <span>COMICS</span>
        <span>GROUP</span>

        </div>
      <div><span>12</span><span>&cent;</span></div>
    </div>
      </div>
  </div>
  <div class="card" id="deadpool">
    <div class="card-text">
      <div><span>40</span><span>&cent;</span></div>
      <div>
        <span>29</span>
        <span>JAN</span>
        <span>02461</span>
      </div>
    </div>
    <div class="card-image">
      <p>&copy; 1979 Marvel <br>Comics Group</p>
      <img src="https://www.pngkey.com/png/full/82-824923_deadpool-deadpool-marvel-comics.png"/>
    </div>
  </div>
</div>
        

        <div style="margin-top: 20px;">
          <ul style="display: flex;list-style: none;">
            <li>
              <div class="card bg-dark text-white" style="width:250px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                <div class="img-container">
                  <img class="card-img-top" style="height: 330px;width: 242px;border-radius: 8px;" src="{% static 'img/d1.jpg'%}" alt="Card image">
                  <p class="overlay disabled">aciklama</p>
              </div>
                <div class="card-body">
                  <h5 class="card-title">batman1</h5>
                  <div class="price-and-button">
                    <p class="card-text">Fiyat</p>
                    <button class="css-scan-edited-element-0" style="height: 30px; width: 135px;"><i style="margin-right: 5px;" class="bi bi-bag"></i>sepete ekle</button>
                </div>
                </div>
              </div>
            </li>
            <br>
            <li>
              <div class="card bg-dark text-white" style="width:250px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                <div class="img-container">
                  <img class="card-img-top" style="height: 340px;width: 250px;border-radius: 8px;" src="{% static 'img/d2.jpg'%}" alt="Card image">
                  <p class="overlay disabled">aciklama</p>
              </div>
                <div class="card-body">
                  <h5 class="card-title">batman2</h5>
                  <div class="price-and-button">
                    <p class="card-text">Fiyat</p>
                    <button class="css-scan-edited-element-0" style="height: 30px; width: 135px;"><i style="margin-right: 5px;" class="bi bi-bag"></i>sepete ekle</button>
                </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        {% endblock content %}
</body>
</html>
