
{% extends 'xsite/cart.html' %}
{% load static %}
{% block content %}

{% for product in products %}

<div>
    <div>
        <img class="card-img-top" style="height: 340px;width: 250px;border-radius: 8px;"  src="{{ product.imageURL }}" alt="{{ product.name }}">
    </div>
    <h3>{{ product.name }}</h3>
    <h5>{{ product.subname }}</h5>
    <br>
    <div>
        pdf
    </div>
</div>





<div class="row">
    <div class="col-lg-3">
        <div class="card bg-dark text-white" style="width:250px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
            <div class="img-container">
                <img class="card-img-top" style="height: 340px;width: 250px;border-radius: 8px;"  src="{{ product.imageURL }}" alt="{{ product.name }}">
                <p style="font-size:15px;" class="overlay">{{ product.subname }}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                {% if product.pdf %}
                <iframe src="{{ product.pdf.url }}" width="100%" height="600px"></iframe>
{% else %}
    <p>No PDF available for this product.</p>
{% endif %}
                <div class="price-and-button">
                    <button class="css-scan-edited-element-0" style="height: 30px; width: 135px;"><i style="margin-right: 5px;" class="bi bi-bag"></i>sepete ekle</button>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}

{% endblock content %}
