{% extends 'xsite/cart.html' %}
{% load static %}
{% load ratings %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div style="display: flex;">
        <ul style="list-style: none;">
            <li><img src="{{ product.pimageURL }}" alt="{{ product.name }}" style="height: 650px;width: 450px;"></li>
        </ul>
        <ul style="list-style: none;">
            <li><h1 style="border-bottom: 3px whitesmoke solid;">{{ product.name }}</h1></li>
            <br>
            <li><h4>Yayınlayan:{{ product.owner }}</h4></li>
            <br>
            <li><h4>category:{% for category in product.categories.all %}
                {{ category.name }}
            {% endfor %}</h4></li>
            <li><h6 style="margin-top: 30px;">Değerlendirme: </h6></li>
            <br>
            <h6><li>
                {% ratings object %}
            </h6></li>
            <br>
            <li><h6 class="card-text" style="margin-bottom: 30px;">Fiyat:
                {% if product.apply_discount %}
                    <span style="text-decoration: line-through; color: gray;">${{ product.price }}</span>
                    <span style="color: red;">${{ product.discounted_price }}</span>
                {% else %}
                    ${{ product.price }}
                {% endif %}
            </h6></li>
            <li style="margin-top: 30px;">
                <h5>Sayfa Sayısı: {{ product.image_count }}</h5>
            </li>
            <li><h5 style="margin-top: 70px;">{{ product.subname }}</h5></li>
            <br>
        </ul>
    </div>    

</body>
</html>
{% endblock content %}
