
{% extends 'xsite/cart.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>

    <div style="display: flex;">
        <ul>
            <li><img src="{{ product.imageURL }}" alt="{{ product.name }}" style="height: 650px;width: 450px;"></li>
        </ul>
        <ul style="list-style: none;">
            <li><h1 style="border-bottom: 3px whitesmoke solid;">{{ product.name }}</h1></li>
            <br>
            <li><h4>yayin evi:</h4></li>
            <li><h6 style="margin-top: 30px;">fiyat:{{ product.price }}$</h6></li>
            <br>
            <li><h6>degerlendirme</h6></li>
            <li><h5 style="margin-top: 70px;">{{ product.subname }}</h5></li>
            <br>
            <li>{% if product.pdf %}
                <a href="{{ product.pdfURL }}">PDF İndir</a>
                {% endif %}
            </li>
        </ul>
    </div>
    
</body>
</html>
{% endblock content %}
